@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

@media (max-width: 1024px) {
  input {
    /* padding-top: 1.5rem; */
    padding-bottom: 2rem !important;
    max-width: 18rem !important;
  }
}